@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html {
	font-family: "Lato";
	font-weight: 300;
}

div.container {
	width:80%;
	margin: 0 auto;
	font-size: 14px;

}

div.project-cover {
	height:100%;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	padding-right: 10px; 
}

div.project-wrapper {
	margin: 30px 0;
}

h3{
	font-size:20px;
	margin: 0;
	margin-bottom: 10px;
}

h4 {
	font-size: 16px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 12px;
}

h1 {
	font-size: 25px;
}

h1.page-header {
	margin-bottom:  0;
}

a.btn-primary,
button.btn-primary,
ul.pagination>.active>a  {
	background-color: #00b0f0;
	border-color: #0AA8E4;
}

a.btn-primary:hover,
button.btn-primary:hover,
ul.pagination>.active>a:hover {
	background-color: #0997CD;
	border-color: #0997CD;
}

div.about-wrapper div.about-info{
	padding-top: 20px;
	padding-left: 20px;
}

div.about-cover img {
	width:100%;
	border:8px solid #eee;
}

div.about.container,
div.contact.container {
	width:70%;
	margin-top: 10%;
	vertical-align: center;
}

div.contact.container {
	margin-top: 5%;
}

div.contact-wrapper {
	width: 80%;
	margin: 0 auto;
}

footer.about,
footer.contact {
	position: fixed;
	bottom:0;
	width:70%;
	margin:10px;
}


h3.contact-category {
	font-size: 20px;
	/*text-transform: uppercase;*/

	/*letter-spacing: 1px;*/
	/*color: #00b0f0;*/
	
}

.contact-icon {
	margin: 5px;
}

p.contact-desc {
	margin-bottom: 20px;
}


.form-group label {
	font-weight: 400;
}

a.contact-icon {
	color: black;
}

a.contact-icon:hover {
	color: #00b0f0;
	text-decoration: none;
}