---
layout: page
description: "Kan Chen's project website"
---

<div class="row project-wrapper">
    <div class="col-md-7 project-cover">
        <a href="#">
            <img class="img-responsive" src="{{ "/img/baylearn.png " | prepend: site.baseurl }}" alt="">
            <!-- <img class="img-responsive" src="http://placehold.it/700x350"> -->
        </a>
    </div>
    <div class="col-md-5">
        <h3>Attention Based Model in Visual Question Answering</h3>
        <p>Visual question answering task (VQA) automatically generates an answer for a given image and an image-related question. Attention is of significant importance in VQA because different questions inquire about different image regions. We propose an attention model for VQA that explicitly exploits the questions to guide the attention to generate  appropriate answers.</p>
        <a class="btn btn-primary">View Details <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<hr>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts <span class="glyphicon glyphicon-chevron-right"></a>
    </li>
    {% endif %}
</ul>
{% endif %}
